/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

#header {
    background: rgba(0,60,128,0.82);
    padding: 20px;
}

#header a {
    color: #FFF;
}

#header a:hover {
    text-decoration: none;
}

#navigation {
    background: rgba(0,60,128,0.82);
}

#main-menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-left: 1px solid white;
    padding: 10px 20px;
}

#navigation .links li, #navigation .menu li {
    padding: 0;
}

#navigation a:hover {
    background: #fafafa;
    color: #888;
}

#block-search-form {
    position: relative;
    top: -25px;
    text-align: right;
}

#edit-search-block-form--2 {
    color: white;
    border: none;
    border-bottom: 1px solid white;
    background: rgba(0,0,0,0);
}

#edit-search-block-form--2:focus {
    border: none;
}
